@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* global variables */
:root {
  --orange: #fea301;
  --sky-blue: #01acfd;
  --black: #111;
  --white: #f7f7f7;
}

/* reset styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* base styles */
body {
  font-family: "Quicksand", serif;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* button styles */
.btn {
  padding: 0.7rem 3rem;
  border: none;
  border-radius: 12px;
  font-size: 1.25rem;
  color: #fff;
  cursor: pointer;
}
.btn-primary {
  background-color: var(--orange);
}
.btn-secondary {
  background-color: var(--black);
}

/* ========== navbar styles =========== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

/* logo styles */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-text {
  font-size: 2rem;
  font-weight: 700;
  color: var(--black);
}

/* menu styles */
.menu-items {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.menu-item {
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
}
.menu-item#home {
  color: var(--orange);
}
.menu-item#about {
  color: var(--sky-blue);
}
.menu-item#facilities {
  color: #05d4df;
}
.menu-item#admission {
  color: #5d58ef;
}

/* menu icon on small device */
.menu-icon {
  display: none;
}
.menu-icon i {
  font-size: 30px;
  color: var(--black);
}

/* divider on small device */
.divider {
  display: none;
  border-top: 1px solid var(--orange);
}

/* ========== banner styles =========== */
.banner {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.banner-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.banner-title {
  font-weight: 700;
  font-size: 3.5rem;
}
.banner-description {
  font-size: 1.25rem;
}
.orange {
  color: var(--orange);
}
.sky-blue {
  color: var(--sky-blue);
}
.banner-image {
  width: 40rem;
}
.banner-image img {
  width: 100%;
}

/* background image */
main {
  background: url("assets/bg.png");
}

/* ======= curriculum styles ======== */
.curriculum-title {
  margin: 4rem 0;
  font-size: 2.875rem;
  text-align: center;
}
/* cards styles */
.cards {
  display: flex;
  justify-content: space-between;
  gap: 1.75rem;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 50px 40px;
  gap: 2rem;
  border-radius: 1rem;
  text-align: center;
  border: 1px solid black;
  box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.05);
}
.card-heading {
  font-size: 1.5rem;
  font-weight: 700;
  color: #202020;
}
.card-description {
  font-size: 1rem;
  color: #808080;
}
.card-link a {
  font-weight: 700;
  text-decoration: none;
}
#card-1 {
  background: linear-gradient(to bottom, #def5ff, rgba(255, 255, 255, 0));
  border: 1px solid #def5ff;
}
#card-2 {
  background: linear-gradient(to bottom, #fff4dc, rgba(255, 255, 255, 0));
  border: 1px solid #fff4dc;
}
#card-3 {
  background: linear-gradient(to bottom, #eee1ff, rgba(255, 255, 255, 0));
  border: 1px solid #f2e8ff;
}
#card-1 .card-link a {
  color: #64c8ff;
}
#card-2 .card-link a {
  color: #f0aa00;
}
#card-3 .card-link a {
  color: #8700ff;
}
/* see more arrows styles */
.see-more {
  margin-top: 5rem;
  margin-bottom: 3.75rem;
  display: flex;
  justify-content: center;
}
.arrows i {
  margin: 0 5px;
  font-size: 2.2rem;
  color: var(--orange);
  cursor: pointer;
  transition: 300ms ease;
}
.arrows i:hover {
  transform: scale(1.03);
  color: #f19a03;
}

/* ======= stories styles ======= */
.stories {
  background: linear-gradient(to top, #fea1016c, #ffffff00);
}
.stories .container {
  margin-bottom: 3.75rem;
}
.stories-heading {
  font-size: 2.875rem;
  padding: 2.875rem 0 5rem;
  text-align: center;
}
.stories-container {
  display: flex;
  gap: 1rem;
}
.stories-container > div {
  flex: 1;
}
.story {
  display: flex;
  flex-direction: column;
}
.story img {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.story-content {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #fff;
  padding: 3rem;
  position: relative;
}
.right .story-content {
  padding: 2rem;
  flex: 1;
}
.left .story-heading {
  margin-bottom: 3rem;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}
.right .story-heading {
  font-weight: 700;
  cursor: pointer;
}
.story-description {
  color: #666666;
}
.right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}
.stories-btn {
  display: flex;
  place-content: center;
  margin-top: 5rem;
}
/* ======= date bar style ======= */
.date-bar {
  color: #fff;
  background: #3cd8e8;
  border-radius: 3rem;
  width: fit-content;
  padding: 1rem 1.5rem;
  position: absolute;
  top: -1.7rem;
}
.right .date-bar {
  padding: 0.5rem 1rem;
  top: -1.2rem;
  font-size: 0.9rem;
}
.story-2 .date-bar {
  background-color: #95b226;
}
.story-3 .date-bar {
  background-color: #5d58f0;
}
.story-4 .date-bar {
  background-color: var(--sky-blue);
}
.story-5 .date-bar {
  background-color: var(--orange);
}
/*  M A R Q U E E   T A G  */
.marquee {
  color: #0072a7;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0.5rem;
}
/* ======= footer styles ======= */
.footer {
  background-color: #01acfd;
  color: #fff;
}
.footer-container {
  padding: 8rem 0;
  display: grid;
  grid-template-columns: 2fr repeat(2, 1fr);
  gap: 10rem;
}
.footer-logo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer-logo-text {
  color: #fff;
  font-weight: 700;
  font-size: 2.5rem;
}
.footer-description {
  margin-top: 2rem;
}
.footer-heading {
  font-size: 1.5rem;
}
.footer-link {
  margin-top: 1.6rem;
}
.footer-link a {
  text-decoration: none;
  color: #fff;
}
.social-icons {
  margin-top: 1.6rem;
  display: flex;
  gap: 10px;
}
.social-icons img {
  cursor: pointer;
}
/* media queries */
@media screen and (max-width: 576px) {
  /* navbar media queries */
  .container {
    margin: 0 1rem;
  }
  .menu-icon,
  .divider {
    display: block;
  }
  .menu-items,
  .logo-text,
  .menu-btn,
  .see-more,
  .left {
    display: none;
  }
  .logo img {
    width: 46px;
    height: 46px;
  }

  /* banner media queries */
  .banner {
    margin-top: 1.5rem;
    flex-direction: column-reverse;
    gap: 20px;
  }
  .banner-content {
    align-items: center;
    text-align: center;
  }
  .banner-title {
    font-size: 2rem;
  }
  .banner-description {
    font-size: 0.875rem;
  }
  .banner-image {
    width: auto;
  }

  /* curriculum media queries */
  .curriculum-title {
    font-size: 1.625rem;
    margin-bottom: 1rem;
  }
  .cards {
    flex-direction: column;
    gap: 1rem;
  }
  .card-heading {
    font-size: 1rem;
  }
  .card-description {
    font-size: 0.65rem;
  }
  .card-link {
    font-size: 0.65rem;
  }
  /* stories media queries */
  .stories {
    padding-bottom: 0.5rem;
  }
  .stories-heading {
    font-size: 1.625rem;
    padding: 2.5rem 0 1.25rem;
  }
  .right .story-heading {
    font-size: 0.5rem;
  }
  .right .story-content {
    padding: 1.4rem 1.4rem 1rem;
  }
  .stories-btn {
    margin: 1.25rem 0 2.5rem;
  }
  .btn-secondary {
    font-size: 1rem;
    padding: 0.5rem 2rem;
  }
  /* datebar media queries */
  .right .date-bar {
    padding: 0.5rem 0.8rem;
    top: -0.9rem;
    font-size: 0.5rem;
  }
  /* marquee media queries */
  .marquee {
    padding: 0;
    font-size: 1rem;
  }
  /* footer media queries */
  .footer-container {
    padding: 4rem 0;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .footer-logo img {
    width: 4rem;
  }
  .footer-logo-text {
    font-size: 1.9rem;
  }
  .footer-heading {
    font-size: 1.3rem;
  }
  .social-icons img {
    width: 33px;
  }
}
