/* global variables */
:root {
  --orange: #fea301;
  --sky-blue: #01acfd;
  --black: #111;
  --white: #f7f7f7;
}

/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* reset styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* base styles */
body {
  font-family: "Quicksand", serif;
}

/* navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.75rem 1rem;
}
.menu-icon i {
  font-size: 30px;
  color: var(--black);
}
.divider {
  border-top: 1px solid var(--orange);
}

/* media queries */
@media screen and (min-width: 391px) {
  .menu-icon,
  .divider {
    display: none;
  }
}
