@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* global variables */
:root {
  --orange: #fea301;
  --sky-blue: #01acfd;
  --black: #111;
  --white: #f7f7f7;
}

/* reset styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* base styles */
body {
  font-family: "Quicksand", serif;
  max-width: 1140px;
  margin: 0 auto;
}

img {
  width: 100%;
}

/* button styles */
.btn {
  padding: 10px 60.5px;
  border: none;
  border-radius: 12px;
  font-size: 1.25rem;
  color: #fff;
  cursor: pointer;
}
.btn-primary {
  background-color: var(--orange);
}
.btn-secondary {
  background-color: var(--black);
}

/* ========== navbar styles =========== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

/* logo styles */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-text {
  font-size: 2rem;
  font-weight: 700;
  color: var(--black);
}

/* menu styles */
.menu-items {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.menu-item {
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
}
.menu-item#home {
  color: var(--orange);
}
.menu-item#about {
  color: var(--sky-blue);
}
.menu-item#facilities {
  color: #05d4df;
}
.menu-item#admission {
  color: #5d58ef;
}

/* menu icon on small device */
.menu-icon {
  display: none;
}
.menu-icon i {
  font-size: 30px;
  color: var(--black);
}

/* divider on small device */
.divider {
  display: none;
  border-top: 1px solid var(--orange);
}

/* ========== banner styles =========== */
.banner {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.banner-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.banner-title {
  font-weight: 700;
  font-size: 3.5rem;
}
.banner-description {
  font-size: 1.25rem;
}
.orange {
  color: var(--orange);
}
.sky-blue {
  color: var(--sky-blue);
}
.banner-image {
  width: 40rem;
}

/* media queries */
@media screen and (max-width: 576px) {
  /* navbar media queries */
  .container {
    margin: 0 1rem;
  }
  .menu-icon,
  .divider {
    display: block;
  }
  .menu-items,
  .logo-text,
  .menu-btn {
    display: none;
  }

  /* banner media queries */
  .banner {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .banner-content {
    align-items: center;
    text-align: center;
  }
  .banner-title {
    font-size: 2rem;
  }
  .banner-description {
    font-size: 0.875rem;
  }
  .banner-image {
    width: auto;
  }
}
